<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="home-outline" ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="centerEmitter.emit()">
                <ion-icon name="locate-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="filterEmitter.emit()">
                <ion-icon name="funnel-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
