<app-header [title]="initialSettings.title"
            (filterEmitter)="toggleFilterView()"
            (centerEmitter)="setCurrentPosition()"
></app-header>


<ion-content [fullscreen]="true">
    <div id="container" style="width: 100%; height: 100%;">
        <app-simple-map (getMap)="listenMap($event)"></app-simple-map>
        <app-preview-info
                [ngClass]="{'show-preview': showPreview, 'hide-preview': !showPreview}"
                [data]="selectedData"
                [mapLabelsInfo]="initialSettings.mapLabelsInfo"
                (closeEmitter)="closePreview($event)"
                class="preview-component">

        </app-preview-info>

        <app-filter *ngIf="showFilter" (closeEmitter)="toggleFilterView()"></app-filter>
    </div>

</ion-content>


