
<ion-tabs>

<!--  <ion-tab-bar slot="bottom">-->
<!--    <ion-tab-button tab="tab1">-->
<!--      <ion-icon name="map-outline"></ion-icon>-->
<!--      <ion-label>Mapa</ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="tab2">-->
<!--      <ion-icon name="list-outline"></ion-icon>-->
<!--      <ion-label>Lista</ion-label>-->
<!--    </ion-tab-button>-->

<!--  </ion-tab-bar>-->

</ion-tabs>
