
<ion-card>
    <ion-card-content>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div routerLink="/tabs/tab1/police">
                        <img src="assets/police-station.png">
                    </div>
                </ion-col>
                <ion-col>
                    <div routerLink="/tabs/tab1/m">
                        <img src="assets/school_selected.png">
                    </div>
                </ion-col>
                <ion-col>
                    bomberos coming soon.. perrito como me le baila todo bien o que
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
