.f-content {

  position: fixed;
  width: -webkit-fill-available;
  bottom: 15%;
  top: 15%;
  margin: 5px 5px 5px 5px;
  z-index: 9999;
  overflow: scroll;

  &__card-content {
    display: grid;
    text-align: center;
  }

}
