<ion-card class="f-content">
    <ion-item>
        <ion-label>Filtros</ion-label>
        <ion-button fill="outline" slot="end" (click)="onCloseClick()">Aplicar</ion-button>
    </ion-item>

    <ion-list>

        <ion-item>
            <ion-label>Localidad</ion-label>
            <ion-select [(ngModel)]="properties.locality  " [value]="properties.locality" placeholder="Seleccione">
                <ion-select-option value="{{null}}">Todas</ion-select-option>
                <ion-select-option *ngFor="let item of localities"
                                   value="{{item.value}}">{{item.label}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Discapacidad</ion-label>
            <ion-toggle [(ngModel)]="properties.disability"></ion-toggle>
        </ion-item>


    </ion-list>

    <ion-card-content>
<!--        <ion-card>-->
            <ion-card-content>

            </ion-card-content>
<!--        </ion-card>-->
    </ion-card-content>
</ion-card>
