<ion-card [ngClass]="isFull ? 'p-content--full' : 'p-content'">
    <ion-item>
        <ion-button (click)="showFull()" shape="round" size="small">
        Mas información
        </ion-button>
        <ion-button fill="outline" slot="end" (click)="onCloseClick()">X</ion-button>
    </ion-item>

    <div style="overflow: auto; margin-bottom: 50px; height: -webkit-fill-available">

            <ion-list>
                <!--            <ion-item>-->
                <!--                <ion-card>-->
                <!--                    <ion-card-header>-->
                <!--                        <ion-card-title>Card Title</ion-card-title>-->
                <!--                    </ion-card-header>-->
                <!--                    <ion-card-content>-->
                <!--                        Keep close to Nature's heart... and break clear away, once in awhile,-->
                <!--                        and climb a mountain or spend a week in the woods. Wash your spirit clean.-->
                <!--                    </ion-card-content>-->
                <!--                </ion-card>-->

                <!--            </ion-item>-->


                <ion-item *ngFor="let item of itemList">
                    <div>
                        <div> {{item.label}} </div>
                        <div> {{item.value}} </div>
                    </div>
                </ion-item>

            </ion-list>


    </div>




</ion-card>

