
.p-content {
  position: fixed;
  width: -webkit-fill-available;
  height: 40%;
  bottom: 0;
  margin: 5px 5px 5px 5px;
  z-index: 9999;
  padding-bottom: 15px;

  &__card-content {
    display: grid;
    text-align: center;
  }

}

.p-content--full {
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  bottom: 0;
  margin: 5px 5px 5px 5px;
  z-index: 9999;
  padding-bottom: 15px;

  &__card-content {
    display: grid;
    text-align: center;
  }

}


//.card-footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//}



